/* line 6, ../../app/assets/sass/main.sass */
#talk-plus-wrap {
  font-size: 12px;
  font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
  line-height: 1em;
  position: absolute;
  z-index: 1000;
  width: 360px;
  bottom: 0;
  right: 30px;
  color: #222222;
  overflow: hidden;
  -webkit-background-clip: padding-box;
  -webkit-border-radius: 5px 5px 0 0;
  -moz-border-radius: 5px 5px 0 0;
  -o-border-radius: 5px 5px 0 0;
  -khtml-border-radius: 5px 5px 0 0;
  -ms-border-radius: 5px 5px 0 0;
  border-radius: 5px 5px 0 0;
  -webkit-box-shadow: 3px 3px 5px 5px rgba(0, 0, 0, 0.6);
  -moz-box-shadow: 3px 3px 5px 5px rgba(0, 0, 0, 0.6);
  box-shadow: 3px 3px 5px 5px rgba(0, 0, 0, 0.6);
}
/* line 20, ../../app/assets/sass/main.sass */
#talk-plus-wrap span, #talk-plus-wrap applet, #talk-plus-wrap object, #talk-plus-wrap iframe,
#talk-plus-wrap h1, #talk-plus-wrap h2, #talk-plus-wrap h3, #talk-plus-wrap h4, #talk-plus-wrap h5, #talk-plus-wrap h6, #talk-plus-wrap p, #talk-plus-wrap blockquote, #talk-plus-wrap pre,
#talk-plus-wrap a, #talk-plus-wrap abbr, #talk-plus-wrap acronym, #talk-plus-wrap address, #talk-plus-wrap big, #talk-plus-wrap cite, #talk-plus-wrap code,
#talk-plus-wrap del, #talk-plus-wrap dfn, #talk-plus-wrap em, #talk-plus-wrap img, #talk-plus-wrap ins, #talk-plus-wrap kbd, #talk-plus-wrap q, #talk-plus-wrap s, #talk-plus-wrap samp,
#talk-plus-wrap small, #talk-plus-wrap strike, #talk-plus-wrap strong, #talk-plus-wrap sub, #talk-plus-wrap sup, #talk-plus-wrap tt, #talk-plus-wrap var,
#talk-plus-wrap b, #talk-plus-wrap u, #talk-plus-wrap i, #talk-plus-wrap center,
#talk-plus-wrap dl, #talk-plus-wrap dt, #talk-plus-wrap dd, #talk-plus-wrap ol, #talk-plus-wrap ul, #talk-plus-wrap li,
#talk-plus-wrap fieldset, #talk-plus-wrap form, #talk-plus-wrap label, #talk-plus-wrap legend,
#talk-plus-wrap table, #talk-plus-wrap caption, #talk-plus-wrap tbody, #talk-plus-wrap tfoot, #talk-plus-wrap thead, #talk-plus-wrap tr, #talk-plus-wrap th, #talk-plus-wrap td,
#talk-plus-wrap article, #talk-plus-wrap aside, #talk-plus-wrap canvas, #talk-plus-wrap details, #talk-plus-wrap embed,
#talk-plus-wrap figure, #talk-plus-wrap figcaption, #talk-plus-wrap footer, #talk-plus-wrap header, #talk-plus-wrap hgroup,
#talk-plus-wrap menu, #talk-plus-wrap nav, #talk-plus-wrap output, #talk-plus-wrap ruby, #talk-plus-wrap section, #talk-plus-wrap summary,
#talk-plus-wrap time, #talk-plus-wrap mark, #talk-plus-wrap audio, #talk-plus-wrap video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* line 40, ../../app/assets/sass/main.sass */
#talk-plus-wrap ol, #talk-plus-wrap ul {
  list-style: none;
}
/* line 43, ../../app/assets/sass/main.sass */
#talk-plus-wrap table {
  border-collapse: collapse;
  border-spacing: 0;
}
/* line 47, ../../app/assets/sass/main.sass */
#talk-plus-wrap caption, #talk-plus-wrap th, #talk-plus-wrap td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}
/* line 52, ../../app/assets/sass/main.sass */
#talk-plus-wrap q, #talk-plus-wrap blockquote {
  quotes: none;
}
/* line 55, ../../app/assets/sass/main.sass */
#talk-plus-wrap q:before, #talk-plus-wrap q:after, #talk-plus-wrap blockquote:before, #talk-plus-wrap blockquote:after {
  content: "";
  content: none;
}
/* line 59, ../../app/assets/sass/main.sass */
#talk-plus-wrap a img {
  border: none;
}
/* line 62, ../../app/assets/sass/main.sass */
#talk-plus-wrap article, #talk-plus-wrap aside, #talk-plus-wrap details, #talk-plus-wrap figcaption, #talk-plus-wrap figure, #talk-plus-wrap footer, #talk-plus-wrap header, #talk-plus-wrap hgroup, #talk-plus-wrap menu, #talk-plus-wrap nav, #talk-plus-wrap section, #talk-plus-wrap summary {
  display: block;
}
/* line 65, ../../app/assets/sass/main.sass */
#talk-plus-wrap h1, #talk-plus-wrap h2, #talk-plus-wrap h3, #talk-plus-wrap h4, #talk-plus-wrap h5, #talk-plus-wrap h6 {
  font-size: 12px;
}
/* line 68, ../../app/assets/sass/main.sass */
#talk-plus-wrap a {
  color: #222222;
}

/* line 71, ../../app/assets/sass/main.sass */
#talk-plus-share-input, #talk-plus-name-input, #talk-plus-send-input {
  background: #eeeeee;
  border: 1px solid #777777;
  padding: 2px 5px;
  -webkit-background-clip: padding-box;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -o-border-radius: 3px;
  -khtml-border-radius: 3px;
  -ms-border-radius: 3px;
  border-radius: 3px;
}

/* line 77, ../../app/assets/sass/main.sass */
#talk-plus-share-input {
  width: 212px;
}

/* line 80, ../../app/assets/sass/main.sass */
#talk-plus-name-input {
  width: 250px;
}

/* line 83, ../../app/assets/sass/main.sass */
#talk-plus-send-input {
  width: 285px;
}

/* line 86, ../../app/assets/sass/main.sass */
#talk-plus-add-name-btn, #talk-plus-submit-btn {
  background: #eeeeee;
  border: 1px solid #777777;
  padding: 2px 5px;
  margin: 0 0 0 5px;
  -webkit-background-clip: padding-box;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -o-border-radius: 3px;
  -khtml-border-radius: 3px;
  -ms-border-radius: 3px;
  border-radius: 3px;
}

/* line 93, ../../app/assets/sass/main.sass */
#talk-plus-header {
  text-shadow: 0 1px 0 white;
  padding: 4px 8px 3px 8px;
  border-bottom: 1px solid #666666;
  -webkit-background-clip: padding-box;
  -webkit-border-radius: 5px 5px 0 0;
  -moz-border-radius: 5px 5px 0 0;
  -o-border-radius: 5px 5px 0 0;
  -khtml-border-radius: 5px 5px 0 0;
  -ms-border-radius: 5px 5px 0 0;
  border-radius: 5px 5px 0 0;
  background-color: #eeeeee;
  background: -webkit-gradient(linear, 0 0, 0 100%, from(#eeeeee), color-stop(100%, #888888));
  background: -moz-linear-gradient(top, #eeeeee, #888888 100%);
  background: linear-gradient(top, #eeeeee, #888888 100%);
  -pie-background: linear-gradient(#eeeeee, #888888);
}

/* line 100, ../../app/assets/sass/main.sass */
#talk-plus-chatroom-name {
  height: 20px;
  line-height: 16px;
}
/* line 104, ../../app/assets/sass/main.sass */
#talk-plus-chatroom-name h3 {
  float: left;
  display: inline;
}
/* line 107, ../../app/assets/sass/main.sass */
#talk-plus-chatroom-name a {
  margin: 0 0 0 10px;
  float: right;
  display: inline;
}

/* line 112, ../../app/assets/sass/main.sass */
#talk-plus-share h3 {
  padding: 4px 5px 0 0;
  float: left;
  display: inline;
}
/* line 116, ../../app/assets/sass/main.sass */
#talk-plus-share a {
  margin: 0 0 0 10px;
}

/* line 119, ../../app/assets/sass/main.sass */
#talk-plus-content {
  width: 100%;
  background: white;
}

/* line 123, ../../app/assets/sass/main.sass */
#talk-plus-msgs {
  height: 200px;
  overflow: auto;
}
/* line 127, ../../app/assets/sass/main.sass */
#talk-plus-msgs li {
  padding: 3px;
  overflow: hidden;
  *zoom: 1;
}
/* line 132, ../../app/assets/sass/main.sass */
#talk-plus-msgs span.talk-plus-msg-user {
  padding: 0 5px 0 0;
  font-weight: bolder;
  display: block;
}
/* line 136, ../../app/assets/sass/main.sass */
#talk-plus-msgs span.talk-plus-msg-msg {
  width: 300px;
  white-space: normal;
  word-break: break-all;
  float: left;
  display: inline;
}
/* line 141, ../../app/assets/sass/main.sass */
#talk-plus-msgs span.talk-plus-msg-time {
  color: #aaaaaa;
  float: right;
  display: inline;
}

/* line 145, ../../app/assets/sass/main.sass */
#talk-plus-footer {
  border-top: 1px solid #777777;
  text-shadow: 0 1px 0 white;
  padding: 4px 8px 10px 8px;
  background-color: #eeeeee;
  background: -webkit-gradient(linear, 0 0, 0 100%, from(#eeeeee), color-stop(100%, #888888));
  background: -moz-linear-gradient(top, #eeeeee, #888888 100%);
  background: linear-gradient(top, #eeeeee, #888888 100%);
  -pie-background: linear-gradient(#eeeeee, #888888);
}

/* line 151, ../../app/assets/sass/main.sass */
#talk-plus-hot-topic {
  height: 16px;
  padding: 5px 0 0;
}
/* line 155, ../../app/assets/sass/main.sass */
#talk-plus-hot-topic h3 {
  padding: 0 5px 0 0;
  float: left;
  display: inline;
}
