iframe{
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
}

#talk-plus-panel{
  width: 100%;
  height: 15px;
  padding: 5px 0 5px 0;
  background-color: #b20000;
  color: white;
  font-family: Sans-serif, Verdana;
  font-size: 15px;
}

#talk-plus-iframe-wrap{
  top: 30px;
  left: 0;
  position: absolute;
  right: 0;
  bottom: 0;
  z-index: 50;
  overflow: hidden;
}
