body {
  background:#000000;
  font-family: Sans-serif, Verdana;
  color:#ffffff;
}

#container { 
}

#main {
  margin:0px auto;
  width:900px;
  background:#b20000;
  border:2px solid #ffffff;
  border-top:0;
  padding-top:20px;
}

#main h1 {
  margin:0px auto;
  width:196px;
  height:87px;
  text-indent:-999999px;
  background: url(/stylesheets/images/LOGO.png);
}

#main h1 a {
  display:block;
  width:196px;
  height:87px;
}

#main #description {
}

#main #description h2 {
  font-size:28px;
  text-align:center;
  margin:10px 0;
}

#main #description p {
  font-size:20px;
  text-align:center;
}

#main #url-input {
  float:left;
  margin:10px 25px;
  padding:10px;
  width:850px;
  font-size:22px;
}

#main #url-input span {
  display:block;
  float:left;
  margin:7px 0 0 20px;
  padding:3px 25px 0 25px;
}

#main #url-input .input-background {
  margin:0;
  padding:0;
  height:45px;
  width:491px;
  background:url(/stylesheets/images/url_bar.png) no-repeat;
}

#main #url-input .input {
  margin:5px 0 0 10px;
  height:33px;
  width:465px;
  font-size:15px;
  border:0;
  background:none;
}

#main #url-input .sumbit {
  margin:7px 0 0 10px;
  width:100px;
  height:30px;
  font-size:16px;
  font-weight:bold;
  background:none;
  color:#ffffff;
  text-shadow: 0 1px 0 #ffffff;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  -o-border-radius: 5px;
  -ms-border-radius: 5px;
  -khtml-border-radius: 5px;
  border-radius: 5px;
  border:1px solid #cccccc;
  background: #cccccc;
  background: -webkit-gradient(linear, 0 0, 0 bottom, from(#cccccc), to(#000000));
  background: -moz-linear-gradient(#ffffff, #cccccc);
}

#main #description-buttons {
  float:left;
  text-align:center;
/*  margin:0 0 10px 90px;*/
  margin:0 0 10px 200px;
}

#main #description-buttons .link-button {
  float:right;
  display:block;
/*  margin-right:10px;*/
  margin-right:30px;
  width:140px;
  height:30px;
  line-height:30px;
  text-align:center;
  font-size:16px;
  text-decoration:none;
  background:none;
  color:#ffffff;
  text-shadow: 0 1px 0 #ffffff;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  -o-border-radius: 5px;
  -ms-border-radius: 5px;
  -khtml-border-radius: 5px;
  border-radius: 5px;
  border:1px solid #cccccc;
  background: #cccccc;
  background: -webkit-gradient(linear, 0 0, 0 bottom, from(#cccccc), to(#000000));
  background: -moz-linear-gradient(#ffffff, #cccccc);
}

#main #buttons {
  text-align:center;
  padding:20px 0;
}

#main #create-channel-frame{
}

#main #create-channel-frame .input {
  height:20px;
  width:200px;
}

#main #create-channel-frame h1{
  margin:20px 0px 10px 100px;
  background: none;
  width: auto;
  height: auto;
  text-indent: 0px;
  font-size: 30px;
  font-weight: bold;
}

#main #create-channel-frame h2{
  font-size:20px;
  text-align: left;
  margin:0px 0px 10px 150px;
}

#main #create-channel-frame #image_container{
  margin:0px 50px 50px 500px;
}

#main #user-profile {
  padding:20px 40px;
}

#main #user-profile .profile-photo {
  vertical-align:top;
  font-size:30px;
}

#main #user-profile .profile-photo img {
  border:3px solid #000000;
}

#main #manage-table {
  width:820px;
  margin-left:40px;
}

#main #manage-table caption{
  font-size:30px;
  margin-bottom:10px;
}

#main #manage-table th {
  padding-left:10px;
  font-size:25px;
  height:50px;
  border-bottom:3px solid #fbffff;
  background:#994948;
}

#main #manage-table td {
  padding-left:10px;
  font-size:25px;
  height:50px;
  border-bottom:1px solid #fbffff;
}

#main #manage-table textarea {
  width:300px;
  height:90px;
}

#main #mamage-buttons {
  margin-left:40px;
  font-size:20px;
  padding:20px 0 10px 0;
}

#main #mamage-buttons a {
  display:block;
  width:400px;
  height:40px;
  font-size:22px;
  line-height:40px;
  text-decoration:none;
  color:#ffffff;
  padding-left:50px;
  background: url("/stylesheets/images/create_channel.png") no-repeat;
}

.steps {
  margin:15px 0 30px 45px;
}

#main #explain_what{
  float:left;
  width:900px;
  height:230px;
  margin: 10px 50px 10px 50px;
}

#main #what_image{
  width: 200px;
  height: 200px;
  background: url("/stylesheets/images/explain_what.png") no-repeat;
  float: left;
}

#main #what_description{
  float: left;
  margin: 10px 0 0 30px;
}

#main #what_description h2{
  background: none;
  padding: 0 0 0 0;
  border: 0 0 0 0;
  margin: 30px 0 0 0;
  text-indent: 0px;
  font-size: 20px;
  font-weight: bold;
}

#main #what_description h3{
  margin: 0 0 0 0;
  padding: 0;
  border: 0;
  font-size: 15px;
}

#main #explain_how{
}

#tutorial_blocks{
  width: 100%;
  height: 100px;
  text-align: center;
}

#tutoral_title{
  margin: 10px 0 10px 30px;
  font-size: 20px;
  font-weight: bold;
}

.explain-image {
  margin: 15px 0 30px 45px;
}


