<div id='talk-plus-panel'>
    <div id='powered-by'>
    <span>powered by: </span>
    </div>
    <div id='logo-small'>
    </div>


</div>

<div id="talk-plus-iframe-wrap">
  <iframe src= <%= @embeded_link %>>
    <p>Your browser does not support iframes.</p>
  </iframe>
</div>

<link type="text/css" rel="stylesheet" media="screen" href="/css/main.css">
<script src='/js/hotass.js'></script>

