<div id='talk-plus-panel'>
powered by 
<%=image_tag "/stylesheets/images/logo_panel.png" %>
</div>

<iframe src= <%= @embeded_link %> width="100%" height="100%">
  <p>Your browser does not support iframes.</p>
</iframe>
