<div id='explain_what'>
    <div id='what_image'>
    </div>
    <div id='what_description'>
        <h2>What is talk+?</h2>
        <h3>We wanna make communication easy for stangers that have the same interests.</h3>
        <h2>Instant chat for events</h2>
        <h3>talk+ sets up a chat room instantly for events.</h3>

    </div>
</div>

<div id="tutoral">
    <div id='tutoral_title'>
    How does it works?
    </div>
    <%= image_tag("3_steps.png", :class => "explain-image") %>
</div>

