<div id='explain_what'>
    <div id='what_image'>
    </div>
    <div id='what_description'>
        <h2>What is talk+?</h2>
        <h3>We wanna make communication easy for stangers that have the same interests.</h3>
        <h2>Instant chat for events</h2>
        <h3>talk+ sets up a chat room instantly for events.</h3>

    </div>
</div>

<div id="tutoral">
    <div id='tutoral_title'>
    How does it works?
    </div>
    <%= image_tag("3_steps.png") %>
    <div id="tutorial_blocks">
        <div id="tutorial_block">
        <h2>Create</h2>
        <h3>Create url by channel or topic.</h3>
        </div>
        <div id="tutorial_block">
        <h2>Share</h2>
        <h3>Share the chat url with friends, or just join a channel by url to meet new people.</h3>
        </div>
        <div id="tutorial_block">
        <h2>Talk</h2>
        <h3>Start chatting instantly.</h3>
        </div>
    </div>
</div>

