<table id="manage-table">
    <caption>Manage your chatroom:</caption>
    <tr>
        <th>Chat Room</th>
        <th></th>
        <th>Users</th>
    </tr>
    <% @sorted_channels.each do |s| %>
    <tr>
        <td><%= @channels[s[0].to_i].name %></td>
        <td></td>
        <td><%= s[1] %></td>
    </tr>
<% end %>
</table>
