<div id='channel-menu-tab'>
</div>

<div id='show-all-channels'>

</div>

<table>
    <tr>
        <td>Chat Room</td>
        <td>Users</td>
    </tr>
    <% @sorted_channels.each do |s| %>
        <tr>
            <td><%= @channels[s[0].to_i].name %></td>
            <td><%= s[1] %></td>
        </tr>
    <% end %>
</table>


